.vscode
.DS_Store
.config/nvim/autoload/
.config/ranger/plugins/ranger_devicons
.config/tmux
.config/coc/*
.config/configstore
.config/nvim/session
.config/htop
2020-*.md
.tmux/plugins
.config/ranger/plugins
node_modules
